@import "tailwindcss";

:root {
  --primary: #cf1941;
  --secondary: #dc1d46;
  --font-heading: "Marcellus", serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-heading) !important;
}

.container {
  margin: 0 auto;
}

@media only screen and (max-width: 1290px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .container,
  .hero .container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px !important;
  }
  header .container {
    margin: 0;
  }
}
input:focus,
input:focus-visible {
  outline: 1px solid black;
  outline-offset: 1px;
}
input[type="checkbox"] {
  accent-color: #dc1d46;
  outline: none;
}
